{% extends "header.html" %}

{% block body %}
<style>

table.dataTable td {
    white-space: nowrap; 
    font-size:14px;
    padding-left:10px !important;
    padding-right:10px !important;
}
thead th 
{ 
    white-space: nowrap; 
}
.btn-light {
    margin-bottom:4px;
}
h1
{
    font-size:30px;
}
thead input {
    font-size:13px;
    font-weight:150;
    width: 105%;
    text-indent: 3px;
}
.center {
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}  
.dataTables_length {
    margin-right:15px;
    margin-top:6px;
}
.modal-body {
    position:relative;
    height:90px; 
}

div.dt-buttons {
    position: relative;
    float: left;
    margin-bottom:4px;
}
.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}
.modal_search_fee {
    width: 300px;

}
.modal_search_billing {
    width: 300px;
}

</style>

<div class="table_container shadow">

    <table id="table" class="display compact cell-border" style="width:100%">

    </table>
</div>

<!-- Fee Modal -->
<div class="modal fade" id="fee_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Fee Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Assign Fee Structure</h4>
        </div>
        <div class="modal-body">
            <div class="center">
            <select 
                class="modal_search_fee" id="modal_fee_selection">
            </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnFeeAssign" class="btn btn-primary" disabled> Assign Fee Structure </button>
          <button type="button" id="btnFeeCancel" class="btn" data-dismiss="modal"> Cancel</button>
        </div>

      </div>
      
    </div>
  </div>

  <!-- Billing Modal -->
<div class="modal fade" id="billing_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Billing Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Assign Billing Group</h4>
        </div>
        <div class="modal-body">
            <div class="center">
            <select 
                class="modal_search_billing" id="modal_billing_selection">
            </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnBillingAssign" class="btn btn-primary" disabled> Assign Billing Group </button>
          <button type="button" id="btnBillingCancel" class="btn" data-dismiss="modal"> Cancel</button>
        </div>

      </div>
      
    </div>
  </div>

<script>
var keys;
$( document ).ready( function( $ ) 
{
    var tableHeaders="";
    $.each({{ columns|tojson}}, function(i, val){
    tableHeaders += "<th>" + val.name + "</th>";
    });     
  
    $("#table").empty();
    $("#table").append('<thead><tr>' + tableHeaders + '</tr> <tr>' + tableHeaders +'</tr><thead>');

    $('#table thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();
        if (i >= 1){
        //$(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        $(this).html( '<input type="text" placeholder="&#xF002;" style="font-family:FontAwesome"/> ');
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        });
        }
        else {
            $(this).html( '' );
        }
    });

        var table=$('#table').DataTable({
            "ajax": {
                "url": {{ data_link|tojson }},  
                "dataType": "json",
                "dataSrc": "data",
                "contentType":"application/json"
            },
            "orderCellsTop": true,
            "columns":{{ columns|tojson }},
            "scrollY": "60vh",
            "scrollX": true, 
            "scrollCollapse": true,
            "oLanguage": {"sSearch": "Search All"},
            "pageLength" : 100,
            "lengthMenu": [[25, 50, 100, 500,-1], [25, 50, 100, 500, "All"]],
            "dom":'<lB<f<t>ip>>',
            "columnDefs": [{
                "targets":   0,
                "orderable": false,
                "checkboxes": {
                    "selectRow": true
                    }
                },
                {
                "targets":   1,
                "render": function ( data, type, row, meta ) {
                    return '<a href="'+row.id+'">'+ data + '</a>';
                    }
                }
            ],
            "select": {
                "style": 'multi',
                "blurable": true
            },
            "buttons": 
            {
                "dom": {
                "button": {
                    "tag": 'button',
                    "className":''
                    }
                },
                "buttons": 
                [  
                    {
                        "autoClose": true,
                        "extend": "collection",
                        "text": 'Assign',
                        "className": 'btn btn-primary dropdown-toggle',
                        "attr":  {
                            "id": 'btnAssign'
                        },
                        "buttons":
                        [
                            {
                                "text": 'Fee Structure', 
                                "className": "btn btn-light",
                                action: function () 
                                {
                                    var selected_rows=table.rows('.selected').data();
                                    var length = table.rows('.selected').count();
                                    keys = []

                                    if (length > 0)
                                    {
                                        for (var i = 0; i < length; i++ )
                                        {
                                            keys.push(selected_rows[i].id);
                                        }
                                        table.select.blurable(false);
                                        var mymodal = $('#fee_modal');
                                        mymodal.modal('show'); 
                                    }
                                    else {
                                        alert("No Rows Selected")
                                    }
                                }
                            },
                            {
                                "text": 'Billing Group', 
                                "className": "btn btn-light",
                                action: function () 
                                {
                                    var selected_rows=table.rows('.selected').data();
                                    var length = table.rows('.selected').count();
                                    keys = []

                                    if (length > 0)
                                    {
                                        for (var i = 0; i < length; i++ )
                                        {
                                            keys.push(selected_rows[i].id);
                                        }
                                        table.select.blurable(false);
                                        var mymodal = $('#billing_modal');
                                        mymodal.modal('show'); 
                                    }
                                    else {
                                        alert("No Rows Selected")
                                    }
                                }
                            }
                        ],
                        "background":false,

                    },
                    {
                        extend: "csv",
                        className: "btn btn-secondary",
                    },
                    {
                        extend: "excel",
                        className: "btn btn-secondary",
                    }

                ]
            }
        });


    var buttons = table.buttons( ['#btnAssign']);
    buttons.disable();

    function disable_enable(button, modal_selector) {
        if (modal_selector.val() == '') {
            button.prop('disabled', true);;
        }
        else {
            button.prop('disabled', false);;
        }          
    }

    function reset_table(modal, modal_selector) {
        modal.modal('hide');
        modal_selector.val('').change();

        table.rows().deselect()
        table.select.blurable(true); 
    }

    function post_assignment(name, modal, modal_selector) {

        modal.modal('hide');

        var fee_structure=modal_selector.val()
        var accounts=keys

        modal_selector.val('').change();

        table.rows().deselect()
        table.select.blurable(true);

        var data= {};
        data['accounts']=accounts
        data[name]=fee_structure
        var data=JSON.stringify(data)

        $.ajax({
            data : data,
            type : 'POST',
            url : {{ page_link|tojson }},
            contentType: 'application/json;charset=UTF-8',
            success: function() 
            {
            $('#table').DataTable().ajax.reload();
            }
        })
    }

    $('#modal_fee_selection').change(function(event) {
        var button = $('#btnFeeAssign')
        var modal_selector=$('#modal_fee_selection');
        disable_enable(button,modal_selector);
    });

    $(document).on("click", "#btnFeeAssign", function(event)
    {
        var modal = $('#fee_modal');
        var modal_selector=$('#modal_fee_selection');
        var name = 'fee_structure';

        post_assignment(name,modal,modal_selector);
    });

    $(document).on("click", "#btnFeeCancel", function(event)
    {
        modal = $('#fee_modal');
        modal_selector=$('#modal_fee_selection');
        
        reset_table(modal,modal_selector);
    });

     $('#modal_billing_selection').change(function(event) {
        var button = $('#btnBillingAssign');
        var modal_selector=$('#modal_billing_selection');
        disable_enable(button,modal_selector);
    });

    $(document).on("click", "#btnBillingAssign", function(event)
    {
        var modal = $('#billing_modal');
        var modal_selector=$('#modal_billing_selection');
        var name = 'billing_group';

        post_assignment(name,modal,modal_selector);
    });

    $(document).on("click", "#btnBillingCancel", function(event)
    {
        modal = $('#billing_modal');
        modal_selector=$('#modal_billing_selection');
        
        reset_table(modal,modal_selector);
    });


    // Handle form submission event 
    table.on("click", "th.select-checkbox", function() {
    if ($("th.select-checkbox").hasClass("selected")) {
        table.rows().deselect();
        $("th.select-checkbox").removeClass("selected");
    } else {
        table.rows().select();
        $("th.select-checkbox").addClass("selected");
    }
    }).on("select deselect", function() {
    ("Some selection or deselection going on")
    if (table.rows({
            table: true
        }).count() !== table.rows().count()) {
        $("th.select-checkbox").removeClass("selected");
    } else {
        $("th.select-checkbox").addClass("selected");
        //Controlling Button Activation
        if (table.rows('.selected').count() == 0 ) {
            buttons.disable()
        }

        else {
            buttons.enable()
        }
    }
    })
});

var fee_data = {{ fee_structures|tojson }}
var billing_data = {{ billing_groups|tojson }}

$(document).ready(function() {
    $(".modal_search_fee").select2({
        data: fee_data,
        placeholder: "Select Fee Structure"
    });

    $(".modal_search_billing").select2({
        data: billing_data,
        placeholder: "Select Billing Group"
    });

    $(".modal_search_fee").val('').change();
    $(".modal_search_billing").val('').change();
});

</script>

{% endblock %}

