{% extends "header.html" %}

{% block body %}

<style>

.pull-left{
right:100%;
padding-top:7px;
position:relative;
}

tableframe {
    width:80%;
    display:block;
}


</style>

<script>
$(document).ready(function () {
  $('#table').DataTable({"scrollY": "70vh", "paginate": false});
  $('.dataTables_filter').addClass('pull-left');
});
</script>

<tableframe>
<table id="table" class="table table-striped table-bordered table-sm" cellspacing="0" width="80%">
  <thead>
    <tr>
    {% for col in cols %}
    <th class="th-sm"> {{ col }} <i class="fa fa-sort float-right" aria-hidden="true"> </th>
    {% endfor %}
    </tr>
  </thead>
    <tbody>
    {% for row in table %}
    <tr>
        {% for col in cols %}
        <td>{{ row|attr(col) }} </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</tableframe>

{% endblock %}