{% extends "header.html" %}

{% block body %}
<style>
  .table {
    white-space:nowrap;
  }
  caption { 
		font-weight: 500;
		text-align:center;
		caption-side: top;
		font-size:18px;
		color: black;
    margin-top:-20px;
	}
  .content_container {
    position:relative;
    margin:50px;
    margin-top:25px;
    padding-top:10px;
    min-width:1000px;
    max-width:1500px;
    padding-bottom:10px;

  }
  .add_button {
    float:right;
    margin-top:30px;
    right:10px;
  }
  .left {
      position:absolute;
      text-align:left;
      float:left;
      float:top;
   }  
   .hidden {
        display:none;
   }
   .content_container {
    margin-bottom:25px;
   }
   .search_account {
    width: 300px;
    text-align:left;
  }
  .form-control {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    border-radius:0px;
    padding:0px;
    width:250px;
    height:35px;
    text-align:left;
    position:absolute;
    margin-top:31px;
  }
.form-control:focus{
    border-color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
}
   h1 {
    font-size:18px;
    float:left;
    margin-top:10px;
   }
  td:nth-child(1){
    display: none
  }
  th:nth-child(1){
    display: none
  }
  </style>

  	<div class = "content_container shadow">
      <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <h1> Billing Group</h1>
            {{ form.name(size=32, class='form-control', placeholder='Enter Name') }}
      </form>
      <div class = "add_button">
          <button type="button" id="add_account" class="btn btn-primary"> Add Account </button>
          <button type="button" id="save" class="btn btn-secondary"> Save </button>
          <a class="btn btn-secondary" href="{{ page_link }}"> Cancel</a> </p>
      </div>

        <table class="table" id="account_table">
        <caption> Accounts </caption>
        <thead>
          <tr>
          {% for column in account_columns %}
            <th>
            {{ column }}
            </th>
          {% endfor %}
          <th>
            Actions
          </th>
          </tr>
        </thead>

        <tbody>
          {% for row in account_rows %}
            <tr>
            {% for x in range(0, account_columns|length) %}
              <td>
              {{ row[x] if row[x] is not none else ''}} 
              </td>
            {% endfor %}
            <td>
              <button type="button" id="edit" class="btn btn-outline-warning btn-sm"> Edit </button>
              <button type="button" id="remove" class="btn btn-outline-danger btn-sm"> Remove </button>
            </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <div class="modal fade" id="account_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Billing Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Unassigned Accounts</h4>
        </div>
        <div class="modal-body">
            <div class="center">
            <select 
                class="search_account" id="account_selection">
            </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnAccountAdd" class="btn btn-primary" disabled> Add Account </button>
          <button type="button" id="btnAccountCancel" class="btn" data-dismiss="modal"> Cancel</button>
        </div>

      </div>
      
    </div>
  </div>

    <Script>
    function disable_enable(button, modal_selector) {
        if (modal_selector.val() == null) {
            button.prop('disabled', true);;
        }
        else {
            button.prop('disabled', false);;
        }          
    }
    function reset(modal, modal_selector) {
        modal.modal('hide');
        modal_selector.val(null).change();
    }

    $('#account_selection').change(function(event) {
        var button = $('#btnAccountAdd')
        var modal_selector=$('#account_selection');
        disable_enable(button,modal_selector);
    });

    $(document).on("click", "#remove", function(event)
    {
      $(this).parents('tr').detach();
    });

    $(document).on("click", "#add_account", function(event)
    {
      var mymodal = $('#account_modal');
      mymodal.modal('show'); 
    });

    $(document).on("click", "#save", function(event)
    {
      var data= {};
      var table=document.getElementById("account_table");
      var billing_accounts = [];
      var detail_url="{{ url_for('billing_group') }}" + "{{billing_group.id}}"

      console.log(detail_url)

      for (var i=1; i < table.rows.length; i++)
      {
        current_account= table.rows[i].cells[0].innerHTML.trim();
        billing_accounts.push(current_account);
      }
      console.log(billing_accounts)

      data['billing_accounts'] = billing_accounts
      data=JSON.stringify(data)

      $.ajax({
        data : data,
        type : 'POST',
        url : detail_url,
        contentType: 'application/json;charset=UTF-8'
      })
      window.location.href = "{{ page_link }}";
    });

    var account_data = {{ accounts_json|tojson }}
    
    $(document).ready(function() {
    $(".search_account").select2({
        placeholder: "Select Account",
        allowClear: true,
        data: account_data
    });

    $(".search_account").val(null).change();

    });

    </Script>

  {% endblock %}