
    {% extends "header.html" %}

    {% block body %}
    <style>
      .graph_container {
    	width:90%;
    	margin:20px;
    	border: 20px solid #f5f5fa;
    	}
      .top_household {
      	width:44%;
    	margin-left:5%;
    	float: left;
    	margin-bottom:50px;
    	border: 20px solid #f5f5fa;
      }
      .top_account {
      	width:44%;
    	margin-right:5%;
    	float: right;
    	margin-bottom:50px;
    	border: 20px solid #f5f5fa;
   	  } 
	</style>

  <script>
    var data_rows=JSON.parse("{{ data_rows|tojson }}")

    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBackgroundColor);

    function drawBackgroundColor() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'X');
        data.addColumn('number', 'AUM');

        data.addRows(data_rows);

        var options = {
        'title':'Total Assets Under Management',
        'height':500,
        'chartArea': {'width': '75%','height': '80%'},
        //'backgroundColor': '#f5f5fa',
        'display': 'block',
        'margin' : '0 auto',
        hAxis: {
          title: 'Time (days)'
        },
        vAxis: {
          title: 'AUM (USD)'
        },
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        resize();

        function resize () {
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

        window.onload = resize;
        window.onresize = resize;
    }

  </script>
   	<div class = "graph_container">
  	  <div id="chart_div"></div>
  		</div>
      	<div class="top_household">
        <table class="table table-bordered">
        <thead>
          <tr>
          {% for column in household_columns %}
            <th>
            {{ column }}
            </th>
          {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for row in top_households %}
            <tr>
            {% for x in range(0, household_columns|length) %}
              <td>
              {{ row[x] }} 
              </td>
            {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
    	</div>
    	<div class="top_account">
        <table class="table table-bordered">
        <thead>
          <tr>
          {% for column in account_columns %}
            <th>
            {{ column }}
            </th>
          {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for row in top_accounts %}
            <tr>
            {% for x in range(0, account_columns|length) %}
              <td>
              {{ row[x] }} 
              </td>
            {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


  {% endblock %}