
    {% extends "header.html" %}

    {% block body %}
    <style>
      .ct-chart {
      height:500px;
      }
   	  .table {
    	white-space:nowrap;
   	  }
   	  caption { 
    	font-weight: bold;
    	text-align:center;
    	caption-side: top;
    	font-size:18px;
      color: #696969;
	  }
  </style>
  
   	<div class = "content_container shadow" style="width:95%; margin-top:25px; margin-bottom:25px">
  	  <div id="container" style="width: 97%;"></div>
  	</div>

  	<div class = "content_container shadow" style="float: right; margin-right:2.5%;width:46.75%;margin-bottom:40px; padding-top:2px;">
        <table class="table">
        <caption> Top Households </caption>
        <thead>
          <tr>
          {% for column in household_columns %}
            <th>
            {{ column }}
            </th>
          {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for row in top_households %}
            <tr>
            {% for x in range(0, household_columns|length) %}
              <td>
              {{ row[x] }} 
              </td>
            {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <div class = "content_container shadow" style="float: left; margin-left:2.5%;width:46.75%;margin-bottom:40px;padding-top:2px;">

        <table class="table">
        <caption>Top Accounts</caption>
        <thead>
          <tr>
          {% for column in account_columns %}
            <th>
            {{ column }}
            </th>
          {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for row in top_accounts %}
            <tr>
            {% for x in range(0, account_columns|length) %}
              <td>
              {{ row[x] }} 
              </td>
            {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

    </div>

  <script src="https://code.highcharts.com/highcharts.js"></script>

  <Script>

  	var x_vals=JSON.parse("{{ x_vals|tojson }}")
  	var y_vals=JSON.parse("{{ y_vals|tojson }}")
  	var Hchart_data=JSON.parse("{{ Hchart_data|tojson}}")

  	create_chart()

  	function create_chart() {
	  	Highcharts.setOptions({
	    lang: {
	        thousandsSep: ','
	    }
		});

	    Highcharts.chart('container', {
	      chart: {
	        zoomType: 'x'
	      },
	      title: {
	        text: 'Total Assets Under Management',
          style: {
            color: '#696969',
            fontWeight: 'bold'
          }
	      },
	      xAxis: {
	        //type: 'datetime'
	      },
	      yAxis: {
	        title: {
	          text: 'AUM (Millions)'
	        },
	        labels: {formatter: function() {
	          	return this.value / 1000000 + 'M';
	        	}
	        }
	      },
	      legend: {
	        enabled: false
	      },
	      plotOptions: {
	        area: {
	          fillColor: {
	            linearGradient: {
	              x1: 0,
	              y1: 0,
	              x2: 0,
	              y2: 1
	            },
	            stops: [
	              [0, Highcharts.getOptions().colors[1]],
	              [1, Highcharts.Color(Highcharts.getOptions().colors[1]).setOpacity(0).get('rgba')]
	            ]
	          },
	          marker: {
	            radius: 0.25,
	            fillColor: Highcharts.getOptions().colors[1]
	          },
	          lineWidth: 1,
	          lineColor:Highcharts.getOptions().colors[1],
	          states: {
	            hover: {
	              lineWidth: 2
	            }
	          },
	          threshold: null
	        }
	      },

	      series: [{
	        type: 'area',
	        name: 'AUM',
	        lineColor: Highcharts.getOptions().colors[1],
	        color: Highcharts.getOptions().colors[1],
	        data: Hchart_data,
	      }]
	    });
   }

  </Script>


  {% endblock %}