{% extends "header.html" %}

{% block body %}
<style>
div.dataTables_wrapper 
{
    width: 85%;
}
table.dataTable td {
    white-space: nowrap; 
}
thead th 
{ 
    white-space: nowrap; 
}
.btn-light {
  margin-bottom:4px;
}
h1
{
  font-size:30px;
}
thead input {
    width: 105%;
    font-size:11px;
    text-indent: 3px;
    font-weight: 600;
    margin:2px;
}
.dataTables_length {
margin-right:15px;
margin-top:6px;
}

div.dt-buttons {
    position: relative;
    float: left;
    margin-bottom:4px;
}
.modal_search {
    width:300px;
}
</style>

<h1>{{ title }}</h1>

<table id="table" class="display compact cell-border" style="width:100%">

</table>

<!-- Modal -->
<div class="modal fade" id="fee_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Assign Fee Structure</h4>
        </div>
        <div class="modal-body">
          <p>
            <select class="modal_search" id="modal_selection" name="states[]" multiple="multiple">

            </select>

          </p>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnFee" class="btn btn-primary"> Assign Fee Structure </button>
          <button type="button" id="btnClose" class="btn" data-dismiss="modal"> Cancel</button>
        </div>

      </div>
      
    </div>
  </div>

<script>
var keys;
$( document ).ready( function( $ ) 
{
    var tableHeaders="";
    $.each({{ columns|tojson}}, function(i, val){
    tableHeaders += "<th>" + val.name + "</th>";
    });     
  
    $("#table").empty();
    $("#table").append('<thead><tr>' + tableHeaders + '</tr> <tr>' + tableHeaders +'</tr><thead>');

    $('#table thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();
        if (i >= 1){
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        });
        }
        else {
            $(this).html( '&nbsp;&nbsp;&nbsp;&nbsp;' );
        }
    });

        var table=$('#table').DataTable({
            "ajax": {
                "url": {{ data_link|tojson }},  
                "dataType": "json",
                "dataSrc": "data",
                "contentType":"application/json"
            },
            "orderCellsTop": true,
            "columns":{{ columns|tojson }},
            "scrollY": "60vh",
            "scrollX": true, 
            "scrollCollapse": true,
            "oLanguage": {"sSearch": "Search All"},
            "pageLength" : 100,
            "lengthMenu": [[25, 50, 100, 500,-1], [25, 50, 100, 500, "All"]],
            "dom":'<lB<f<t>ip>>',
            "columnDefs": [{
                "targets":   0,
                "orderable": false,
                "checkboxes": {
                    "selectRow": true
                }
            }],
            "select": {
                "style": 'multi'
            },
            "buttons": 
            {
                "dom": {
                "button": {
                    "tag": 'button',
                    "className":''
                    }
                },
                "buttons": 
                [  
                    {
                        "autoClose": true,
                        "extend": "collection",
                        "text": 'Assign',
                        "className": 'btn btn-primary dropdown-toggle',
                        "attr":  {
                            "id": 'btnAssign'
                        },
                        "buttons":[
                            {
                                "text": 'Fee Structure', 
                                "className": "btn btn-light",
                                action: function () 
                                {
                                    var selected_rows=table.rows('.selected').data();
                                    var length = table.rows('.selected').count();
                                    keys = []

                                    if (length > 0)
                                    {
                                        for (var i = 0; i < length; i++ )
                                        {
                                            keys.push(selected_rows[i].id);
                                        }
                                        var mymodal = $('#fee_modal');
                                        mymodal.modal('show'); 
                                    }
                                    else {
                                        alert("No Rows Selected")
                                    }
                                }
                            },
                            {"text": 'Billing Group', "className": "btn btn-light"}
                        ],
                        "background":false,

                    },
                    {
                        extend: "csv",
                        className: "btn btn-secondary",
                    },
                    {
                        extend: "excel",
                        className: "btn btn-secondary",
                    }

                ]
            }
        });

    var buttons = table.buttons( ['#btnAssign']);
    buttons.disable();


    // Handle form submission event 
    table.on("click", "th.select-checkbox", function() {
    if ($("th.select-checkbox").hasClass("selected")) {
        table.rows().deselect();
        $("th.select-checkbox").removeClass("selected");
    } else {
        table.rows().select();
        $("th.select-checkbox").addClass("selected");
    }
    }).on("select deselect", function() {
    ("Some selection or deselection going on")
    if (table.rows({
            table: true
        }).count() !== table.rows().count()) {
        $("th.select-checkbox").removeClass("selected");
    } else {
        $("th.select-checkbox").addClass("selected");
        //Controlling Button Activation
        if (table.rows('.selected').count() == 0 ) {
            buttons.disable()
        }

        else {
            buttons.enable()
        }
    }
    })
});
$(document).on("click", "#btnDelete", function(event)
{
    var mymodal = $('#warn_modal');
    mymodal.modal('hide');

    $.ajax({
    data : JSON.stringify(keys, null, '\t'),
    type : 'POST',
    url : {{ page_link|tojson }},
    contentType: 'application/json;charset=UTF-8',
    success: function() 
    {
        $('#table').DataTable().ajax.reload();
    }
    })
    keys=[] 
});

$(document).on("click", "#btnFee", function(event)
{
    var fee_modal = $('#fee_modal');
    fee_modal.modal('hide');

    var fee_structure=$('#modal_selection').val()
    var accounts=keys

    $('#modal_selection').val('').change();

    console.log(fee_structure)
    console.log(keys)
});

var data = {{ fee_structures|tojson }}

$(document).ready(function() {
    $(".modal_search").select2({
        maximumSelectionLength: 1,
        data: data
    });
});

</script>

{% endblock %}

