{% extends "header.html" %}

{% block body %}

<style>
   .left {
        position: fixed;
        left: 50px;
        text-align:left;
        top:75px;
   }  
   .center {
        text-align:left;
        position: absolute;
        left: 50%;
        top:75px;
        transform: translateX(-50%);
   }  
   .hidden {
        display:none;
   }
</style>

<div class = "center">

<form action="" method="post" novalidate>
	<div class="form-row align-items-center">
		<div class="col-auto my-3">
		<div class="form-check">
        {{ form.hidden_tag() }}

        {% for field in form %}
        <p>
            {% if field.type not in ['SubmitField','CSRFTokenField'] and field.data != 0 and field.data != '' and field.data %}
                {{field.label}}
                {{field}}
            {% else %}
                {{field.label(class='hidden')}}
                {{field(class='hidden')}}
            {% endif %}   

            {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </p>
        {% endfor %}
        <p>{{ form.submit(class='btn btn-primary', value = "Save") }}
        <a class="btn btn-secondary" href="{{ page_link }}"> Cancel</a> </p>
    	</div>
    	</div>
    </div>
</form>

</div>

<script>
$(document).ready(function(){
    $("#frequency").change(function() {
        var val = $(this).val();
        var label = $("label[for='" + $("#quarterly_cycle").attr('id') + "']");

        if (val == "Quarterly") {
            $("#quarterly_cycle").removeClass("hidden");
            $("#quarterly_cycle").addClass("form-control");
            $(label).removeClass("hidden");
        }
        else {
            $("#quarterly_cycle").removeClass("form-control");
            $("#quarterly_cycle").addClass("hidden");
            $(label).addClass("hidden");
            $("#quarterly_cycle").val('')
        }
    });
    $("#structure").change(function() {
        var val = $(this).val();
        var rate_label = $("label[for='" + $("#flat_rate").attr('id') + "']");
        var fee_label = $("label[for='" + $("#flat_fee").attr('id') + "']");

        if (val == "Flat Rate") {
            $("#flat_fee").removeClass("form-control");
            $("#flat_fee").addClass("hidden");
            $(fee_label).addClass("hidden");

            $("#flat_rate").removeClass("hidden");
            $("#flat_rate").addClass("form-control");
            $(rate_label).removeClass("hidden");

            $("#flat_fee").val('')
        }
        else if (val == "Flat Fee"){
            $("#flat_rate").removeClass("form-control");
            $("#flat_rate").addClass("hidden");
            $(rate_label).addClass("hidden");

            $("#flat_fee").removeClass("hidden");
            $("#flat_fee").addClass("form-control");
            $(fee_label).removeClass("hidden");

            $("#flat_rate").val('')
        }
        else {
            $("#flat_rate").removeClass("form-control");
            $("#flat_fee").removeClass("form-control")

            $("#flat_fee").addClass("hidden");
            $("#flat_rate").addClass("hidden");

            $(rate_label).addClass("hidden");
            $(fee_label).addClass("hidden");

            $("#flat_rate").val('')
            $("#flat_fee").val('')
        }
    });
});
</script>

{% endblock %}