<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delta Billing</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

 <script type="text/javascript" src="..\static\js\jquery-3.3.1.min.js"></script>
 <script type="text/javascript" src="..\static\js\bootstrap.min.js"> </script>

<style>
   .left {
        position: fixed;
        left: 25%;
        top:40px;
        transform: translateX(-50%);
   }  
   .center {
        position: absolute;
        left: 50%;
        top:40px;
        transform: translateX(-50%);
   }  
   .hidden {
        display:none;
   }
</style>

<head>
 
<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong> {{ messages[0] }} </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}


<div class = "center">

<form action="" method="post" novalidate>
	<div class="form-row align-items-center">
		<div class="col-auto my-3">
		<div class="form-check">
        {{ form.hidden_tag() }}

        {% for field in form %}
        <p>
            {% if field.type not in ['SubmitField','CSRFTokenField'] and field.data != 0 and field.data != '' and field.data %}
                {{field.label}}
                {{field}}
            {% else %}
                {{field.label(class='hidden')}}
                {{field(class='hidden')}}
            {% endif %}   

            {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </p>
        {% endfor %}
        <p>{{ form.submit(class='btn btn-primary', value = "Save") }}
        <a class="btn btn-secondary" href="{{ page_link }}"> Cancel</a> </p>
    	</div>
    	</div>
    </div>
</form>

</div>

<script>
$(document).ready(function(){
    $("#frequency").change(function() {
        var val = $(this).val();
        var label = $("label[for='" + $("#quarterly_cycle").attr('id') + "']");

        if (val == "Quarterly") {
            $("#quarterly_cycle").removeClass("hidden");
            $("#quarterly_cycle").addClass("form-control");
            $(label).removeClass("hidden");
        }
        else {
            $("#quarterly_cycle").removeClass("form-control");
            $("#quarterly_cycle").addClass("hidden");
            $(label).addClass("hidden");
            $("#quarterly_cycle").val('')
        }
    });
    $("#structure").change(function() {
        var val = $(this).val();
        var rate_label = $("label[for='" + $("#flat_rate").attr('id') + "']");
        var fee_label = $("label[for='" + $("#flat_fee").attr('id') + "']");

        if (val == "Flat Rate") {
            $("#flat_fee").removeClass("form-control");
            $("#flat_fee").addClass("hidden");
            $(fee_label).addClass("hidden");

            $("#flat_rate").removeClass("hidden");
            $("#flat_rate").addClass("form-control");
            $(rate_label).removeClass("hidden");

            $("#flat_fee").val('')
        }
        else if (val == "Flat Fee"){
            $("#flat_rate").removeClass("form-control");
            $("#flat_rate").addClass("hidden");
            $(rate_label).addClass("hidden");

            $("#flat_fee").removeClass("hidden");
            $("#flat_fee").addClass("form-control");
            $(fee_label).removeClass("hidden");

            $("#flat_rate").val('')
        }
        else {
            $("#flat_rate").removeClass("form-control");
            $("#flat_fee").removeClass("form-control")

            $("#flat_fee").addClass("hidden");
            $("#flat_rate").addClass("hidden");

            $(rate_label).addClass("hidden");
            $(fee_label).addClass("hidden");

            $("#flat_rate").val('')
            $("#flat_fee").val('')
        }
    });
});
</script>

</body>
 
</html>