{% extends "header.html" %}

{% block body %}

<style>
   .left {
        position: fixed;
        left: 50px;
        text-align:left;
        top:75px;
   }  
   .center {
        text-align:left;
        position: absolute;
        margin-top:15px;
        left: 50%;
        transform: translateX(-50%);
   }  
   .hidden {
        display:none;
   }
   .content_container {
        margin-bottom:25px;
   }
</style>

<div class = "center">
    <div class = "content_container shadow">
    <form action="" method="post" novalidate>
    	<div class="form-row align-items-center">
    		<div class="col-auto my-3">
    		<div class="form-check">
            {{ form.hidden_tag() }}

            {% for field in form %}
            <p>
                {% if field.type not in ['SubmitField','CSRFTokenField'] and field.data != 0 and field.data != null and field.data %}
                    {{field.label}}
                    {{field}}
                {% elif field.type not in ['CSRFTokenField'] %}
                    {{field.label(class='hidden')}}
                    {{field(class='hidden form-control')}}
                {% endif %}   

                {% if field.errors %}
                <ul class=errors>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </p>
            {% endfor %}
            <p>{{ form.submit(class='btn btn-primary', value = "Save") }}
            <a class="btn btn-secondary" href="{{ page_link }}"> Cancel</a> </p>
        	</div>
        	</div>
        </div>
    </form>
    </div>
</div>

<script>
$(document).ready(function(){
    $("#frequency").change(function() {
        var val = $(this).val();
        var label = $("label[for='" + $("#quarterly_cycle").attr('id') + "']");

        if (val == "Quarterly") {
            $("#quarterly_cycle").removeClass("hidden");
            $(label).removeClass("hidden");
        }
        else {
            $("#quarterly_cycle").addClass("hidden");
            $(label).addClass("hidden");
            $("#quarterly_cycle").val(null).change()
        }
    });
    $("#structure").change(function() {
        var val = $(this).val();
        var rate_label = $("label[for='" + $("#flat_rate").attr('id') + "']");
        var fee_label = $("label[for='" + $("#flat_fee").attr('id') + "']");

        if (val == "Flat Rate") {
            $("#flat_fee").addClass("hidden");
            $(fee_label).addClass("hidden");

            $("#flat_rate").removeClass("hidden");
            $(rate_label).removeClass("hidden");

            $("#flat_fee").val(null).change()
        }
        else if (val == "Flat Fee"){
            $("#flat_rate").addClass("hidden");
            $(rate_label).addClass("hidden");

            $("#flat_fee").removeClass("hidden");
            $(fee_label).removeClass("hidden");

            $("#flat_rate").val(null).change()
        }
        else {
            $("#flat_fee").addClass("hidden");
            $("#flat_rate").addClass("hidden");

            $(rate_label).addClass("hidden");
            $(fee_label).addClass("hidden");

            $("#flat_rate").val(null).change()
            $("#flat_fee").val(null).change()
        }
    });
});
</script>

{% endblock %}