{% extends "header.html" %}

{% block body %}
<style>
div.dataTables_wrapper 
{
    width: 80%;
    margin: 0 auto;
}
h1
{
  font-size:28px;
}
</style>

<h1>Fee Structures</h1>
<table id="table" class="display" style="width:100%">
<!--<thead>
    <tr>
    {% for key in cols %}
    <th> {{ key }} </th>
    {% endfor %}
    </tr>
</thead>-->
</table>

<!-- Modal -->
<div class="modal fade" id="warn_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Confirmation</h4>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnDelete" class="btn btn-default"> Delete</button>
          <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal"> Cancel</button>
        </div>

      </div>
      
    </div>
  </div>

<script>
var keys;
var data,
    tableName= '#demotable',
    columns,
    str,
    jqxhr = $.ajax({{ data_link|tojson }})
        .done(function () {
            data = JSON.parse(jqxhr.responseText);
    })

$( document ).ready( function( $ ) 
{
    var tableHeaders="";
    $.each(data.columns, function(i, val){
        tableHeaders += "<th>" + val.name + "</th>";
    });
    console.log(tableHeaders)           
    $("#table").empty();
    $("#table").append('<table id="table"  class="display"  width="100%"><thead><tr>' + tableHeaders + '</tr></thead></table>');

        var table=$('#table').DataTable(
        {
            "ajax": {
                "url": {{ data_link|tojson }},  
                "dataType": "json",
                "dataSrc": "data",
                "contentType":"application/json"
            },
            "columns": data.columns,
            "scrollY": "60vh",
            "scrollX": true, 
            "scrollCollapse": true,
            dom: '<f<Bt>i>',
            paginate: false,
            columnDefs: [ 
        {
            targets:   0,
            orderable: false,
            checkboxes: {
                selectRow: true
            }
        },
        ],
    select: {
            style: 'multi',
            blurable: true
        },
    buttons: 
    [  
        {
            text: 'Create New',
            action: function ( e, dt, button, config ) 
            {
                window.location = {{ create_link|tojson }};
            }        
        },

        {
            text: 'Delete',
            type: 'submit',
            class: 'close',
            action: function () 
            {
                var selected_rows=table.rows('.selected').data();
                var length = table.rows('.selected').count();
                keys = []

                if (length > 0)
                {
                    for (var i = 0; i < length; i++ )
                    {
                        keys.push(selected_rows[i].id);
                    }
                    var mymodal = $('#warn_modal');
                    mymodal.find('.modal-body').text('You have selected ' + length + ' fee structure(s) to delete.');
                    mymodal.modal('show'); 
                }
                else {
                    alert("No Rows Selected")
                }
            }
        }
    ]
    });
    // Handle form submission event 
    table.on("click", "th.select-checkbox", function() {
    if ($("th.select-checkbox").hasClass("selected")) {
        table.rows().deselect();
        $("th.select-checkbox").removeClass("selected");
    } else {
        table.rows().select();
        $("th.select-checkbox").addClass("selected");
    }
    }).on("select deselect", function() {
    ("Some selection or deselection going on")
    if (table.rows({
            table: true
        }).count() !== table.rows().count()) {
        $("th.select-checkbox").removeClass("selected");
    } else {
        $("th.select-checkbox").addClass("selected");
    }
    });
$(document).on("click", "#btnDelete", function(event)
{
    var mymodal = $('#warn_modal');
    mymodal.modal('hide');

    $.ajax({
    data : JSON.stringify(keys, null, '\t'),
    type : 'POST',
    url : {{ page_link|tojson }},
    contentType: 'application/json;charset=UTF-8',
    success: function() 
    {
        table.ajax.reload();
    }
    })
    keys=[] 
});
});

</script>

{% endblock %}

