{% extends "header.html" %}

{% block body %}

<style>

div.dataTables_wrapper 
{
    width: 75%;
    margin: 0 auto;
}


.dataTables_filter {
    margin-top:10px;
    margin-bottom:0px;
    float: left !important;
}

</style>

<script>
$(document).ready(function () {
  $('#table').DataTable({"scrollY": "70vh","scrollX": true, "scrollCollapse": true,"paginate": false, "dom": '<f<t>i>' });
});
</script>

<table id="table" class="display compact", style="width:100%">
  <thead>
    <tr>
    {% for key in cols %}
    <th> {{ key }} </th>
    {% endfor %}
    <th> Billing Group </th>
    <th> Balance </th>
    <!-- <th> Action </th> -->
    </tr>
  </thead>
    <tbody>
    {% for row in table %}
    <tr>
        {% for key in cols %}
        <td>{{ row|attr(cols[key]) }} </td>
        {% endfor %}
        <td> {{ (row|attr('billing_group'))|attr('name')}} </td>
        <td> fill </td>
        <!-- <td> <a href= {{ '/household/' ~ row.id }}> <span class="glyphicon glyphicon-heart"></span> Edit </a> </td> -->
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}