{% extends "header.html" %}

{% block body %}
<style>
div.dataTables_wrapper 
{
    width: 80%;
    margin: 0 auto;
}
h1
{
  font-size:28px;
}
</style>

<h1>Client Households</h1>
<table id="table" class="display" style="width:100%">
    <thead>
    <tr>
    {% for key in cols %}
      <th> {{ key }} </th>
    {% endfor %}
    </tr>
  </thead>
</table>

<script>
function setupData() {
    $(document).ready(function () {
        $('#table').DataTable({
            "ajax": {
                "url": "{{ url_for('household_data') }}",  
                "dataType": "json",
                "dataSrc": "data",
                "contentType":"application/json"
            },
            "columns": [
                {"data": "household_name"},
                {"data": "balance"},
                {"data": "opening_date"},
                {"data": "num_accounts"},
                {"data": "billing_group"}
            ],
            "scrollY": "60vh",
            "scrollX": true, 
            "scrollCollapse": true,
            "pageLength": 100
        });
    });
}
$( window ).on( "load", setupData );
</script>


{% endblock %}