{% extends "header.html" %}

{% block body %}

<style>

div.dataTables_wrapper 
{
    width: 80%;
    margin: 0 auto;
}

.dataTables_filter {
    margin-top:10px;
    margin-bottom:0px;
   float: right !important;
}

</style>

<script>
var editor; // use a global for the submit and return data rendering in the examples
 
$(document).ready(function() 
{
    var table=$('#table').DataTable(
    {
    scrollY: "70vh",
    scrollX: true, 
    scrollCollapse: true,
    paginate: false, 
    dom: '<Bf<t>i>',
    select: true,
    columnDefs: [ 
        {
            orderable: false,
            className: 'select-checkbox',
            targets:   0
        }, 
        {
            targets:  1,
            visible: false
        }

        ],
    select: {
            style: 'multiple',
            blurable: true
        },
    buttons: 
    [
        {
            text: 'Delete Selected Rows',
            type: 'submit',
            action: function () 
            {
                $('#myModal').modal('show'); 

                var selected_rows=table.rows('.selected').data();
                var length = table.rows('.selected').count();
                var keys = []

                if (length > 0)
                {
                    for (var i = 0; i < length; i++ )
                    {
                        keys.push(selected_rows[i][1]);
                    }
                }
                $.ajax({
                    data : JSON.stringify(keys, null, '\t'),
                    type : 'POST',
                    url : '/fee_structure/',
                    contentType: 'application/json;charset=UTF-8'
                })
            }
        }
    ]
    });
});

</script>

<form action="/login/" method="post" id='delete_form'>

</form>

<table id="table" class="display compact", style="width:100%">

  <thead>
    <tr>
    <th> </th>
    {% for key in cols %}
    <th> {{ key }} </th>
    {% endfor %}
    <th> Action </th>
    </tr>
  </thead>
    <tbody>
    {% for row in table %}
    <tr>
        <td> </td>
        {% for key in cols %}
        <td>{{ row|attr(cols[key]) }} </td>
        {% endfor %}
        <!--<td> <a href= {{ url_for('fee_structure') ~ row.id }}> <span class="glyphicon glyphicon-heart"></span> Edit </a> &nbsp; &nbsp; 
        <a data-toggle="modal" data-id="{{ row }}" data-toggle="modal" title="Add this item" class="text-input" href="#addBookDialog">test</a> -->
        <td> <a data-toggle="modal" href="#myModal"> Delete </a> </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>