{% extends "header.html" %}

{% block body %}
<style>
div.dataTables_wrapper 
{
    width: 80%;
    margin: 0 auto;
}
h1
{
  font-size:28px;
}
</style>

<h1>{{ title }}</h1>
<table id="table" class="display" style="width:100%">

</table>

<script>
$( document ).ready( function( $ ) 
{
        var tableHeaders="";
        $.each({{ columns|tojson}}, function(i, val){
        tableHeaders += "<th>" + val.name + "</th>";
        });     
  
        $("#table").empty();
        $("#table").append('<table id="table"  class="display"  width="100%"><thead><tr>' + tableHeaders + '</tr></thead></table>'
        );

        var table=$('#table').DataTable({
            "ajax": {
                "url": {{ data_link|tojson }},  
                "dataType": "json",
                "dataSrc": "data",
                "contentType":"application/json"
            },
            "columns":{{ columns|tojson }},
            "scrollY": "60vh",
            "scrollX": true, 
            "scrollCollapse": true,
            "pageLength" : 100
        });
    });

</script>


{% endblock %}