{% extends "header.html" %}

{% block body %}

<style>

div.dataTables_wrapper 
{
    width: 80%;
    margin: 20px auto;
}

div.dataTables_filter {
    display: inline !important;
}

</style>

<script>
var editor; // use a global for the submit and return data rendering in the examples
var keys;

$(document).ready(function() 
{
    var table=$('#table').DataTable({
    scrollY: "70vh",
    scrollX: true, 
    scrollCollapse: true,
    paginate: false, 
    dom: '<f<Bt>i>',
    columnDefs: [ 
        {
            targets:   0,
            orderable: false,
            checkboxes: {
                selectRow: true
            }
        }, 
        {
            targets:  1,
            visible: false
        }

        ],
    select: {
            style: 'multi',
            blurable: true
        },
    buttons: 
    [  
        {
            text: 'Create New',
            action: function ( e, dt, button, config ) 
            {
                window.location = '{{ url_for('create_fee') }}';
            }        
        },

        {
            text: 'Delete',
            type: 'submit',
            class: 'close',
            action: function () 
            {
                var selected_rows=table.rows('.selected').data();
                var length = table.rows('.selected').count();
                keys = []

                if (length > 0)
                {
                    for (var i = 0; i < length; i++ )
                    {
                        keys.push(selected_rows[i][1]);
                    }

                    var mymodal = $('#warn_modal');
                    mymodal.find('.modal-body').text('You have selected ' + length + ' fee structure(s) to delete.');
                    mymodal.modal('show'); 
                }
                else {
                    alert("No Rows Selected")
                }
            }
        }
    ]});

    // Handle form submission event 
  table.on("click", "th.select-checkbox", function() {
    if ($("th.select-checkbox").hasClass("selected")) {
        table.rows().deselect();
        $("th.select-checkbox").removeClass("selected");
    } else {
        table.rows().select();
        $("th.select-checkbox").addClass("selected");
    }
}).on("select deselect", function() {
    ("Some selection or deselection going on")
    if (table.rows({
            table: true
        }).count() !== table.rows().count()) {
        $("th.select-checkbox").removeClass("selected");
    } else {
        $("th.select-checkbox").addClass("selected");
    }
});

$(document).on("click", "#btnDelete", function(event)
{
    var mymodal = $('#warn_modal');
    mymodal.modal('hide');

    $.ajax({
    data : JSON.stringify(keys, null, '\t'),
    type : 'POST',
    url : '{{ url_for('fee_structure') }}',
    contentType: 'application/json;charset=UTF-8',
    success: function() 
    {
        location.reload();
    }
    })
    keys=[] 
});

});

</script>

<form id="frm-example" action="{{ url_for('fee_structure') }}" method="POST">

</form>

<table id="table" class="display compact", style="width:100%">

  <thead>
    <tr>
    <th> </th>
    {% for key in cols %}
    <th> {{ key }} </th>
    {% endfor %}
    <!--<th> Action </th>-->
    </tr>
  </thead>
    <tbody>
    {% for row in table %}
    <tr>
        <td> </td>
        {% for key in cols %}
        <td>{{ row|attr(cols[key]) }} </td>
        {% endfor %}
        <!--<td> <a href= {{ url_for('fee_structure') ~ row.id }}> <span class="glyphicon glyphicon-heart"></span> Edit </a> &nbsp; &nbsp; 
        <a data-toggle="modal" data-id="{{ row }}" data-toggle="modal" title="Add this item" class="text-input" href="#addBookDialog">test</a> -->
        <!--<td> <a data-toggle="modal" href="#myModal"> Delete </a> </td> -->
    </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="warn_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Confirmation</h4>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnDelete" class="btn btn-default"> Delete</button>
          <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal"> Cancel</button>
        </div>

      </div>
      
    </div>
  </div>

  {% endblock %}